/* ==========================================================================
   My Customizing skin
   ========================================================================== */

/* Colors */
$background-color: #FFFFFF; /*흰 배경*/
$text-color: #343A40 !default;
$primary-color: #ADB9CF !default; /*#00adb5 !default;*/
$border-color: #343A40 !default;
$code-background-color: #fbfcfd !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: #232326; /*mix(#000, $background-color, 30%) !default;*/
$link-color: #495057 !default; /*mix($primary-color, $text-color, 40%) !default;*/
$link-color-hover: #495057 !default; /*mix(#fff, $link-color, 25%) !default;*/
$link-color-visited: #495057 !default; /*mix(#000, $link-color, 25%) !default;*/
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: $text-color !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}